<!doctype html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>Motor</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300italic,300&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="views/css/font-awesome.min.css">
<link rel="stylesheet" href="views/css/zabuto_calendar.css">
<link rel="stylesheet" href="views/css/flexslider.css">
<link rel="stylesheet" href="views/css/jquery.fancybox.css">
<link rel="stylesheet" href="views/css/ion.rangeSlider.css">
<link rel="stylesheet" href="views/css/ion.rangeSlider.skinFlat.css">
<link rel="stylesheet" href="views/css/style.css">
<link rel="stylesheet" href="views/css/media.css">


<!--[if lt IE 9]>
<script src="views/js/html5shiv.js"></script>
<![endif]-->

</head>
<body>



<!-- Header - start -->
<div class="header">

	<!-- Navmenu Mobile Toggle Button -->
	<a href="views/#" class="header-menutoggle" id="header-menutoggle">Menu</a>

	<div class="header-info">

		<!-- Personal Menu -->
		<div class="header-personal">
			<a href="views/#" class="header-gopersonal"></a>
			<ul>
				<li>
					<a href="views/message.html">Messages <span>12</span></a>
				</li>
				<li>
					<a href="views/#">Bookmarks <span>6</span></a>
				</li>
				<li>
					<a href="views/cart.html">Shopping Cart <span>5</span></a>
				</li>
				<li class="header-order">
					<a href="views/orders.html">Order Status</a>
				</li>
				<li>
					<a href="views/#">Settings</a>
				</li>
				<li>
					<a href="views/#">Log out</a>
				</li>
			</ul>
		</div>

		<!-- Small Cart -->
		<a href="views/cart.html" class="header-cart">
			<div class="header-cart-inner">
				<p class="header-cart-count">
					<img src="views/img/cart.png" alt="">
					<span>3</span>
				</p>
				<p class="header-cart-summ">$300</p>
			</div>
		</a>

		<a href="views/#" class="header-compare"></a>
		<a href="views/#" class="header-favorites"></a>

		<!-- Search Form -->
		<a href="views/#" class="header-searchbtn" id="header-searchbtn"></a>
		<form action="#" class="header-search" id="header-search">
			<input type="text" placeholder="Search parts or vehicles">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>

	</div>

	<!-- Logotype -->
	<p class="header-logo">
		<a href="views/index.html"><img src="views/img/logo.png" alt=""></a>
	</p>

	<!-- Navmenu - start -->
	<nav id="top-menu">
		<ul>
			<li>
				<a href="views/index.html">Home</a>
			</li>
			<li class="has-child">
				<a href="views/catalog.html">Catalog</a>
				<i class="fa fa-angle-down"></i>
				<ul>
					<li><a href="views/catalog.html">Catalog: List Mode</a></li>
					<li><a href="views/catalog-gallery.html">Catalog: Gallery Mode</a></li>
					<li><a href="views/product.html">Product: Standart</a></li>
					<li><a href="views/product-vehicle.html">Product: Vehicle</a></li>
				</ul>
			</li>
			<li class="has-child active">
				<a href="views/#">Pages</a>
				<i class="fa fa-angle-down"></i>
				<ul>
					<li><a href="views/about.html">About Us</a></li>
					<li><a href="views/contacts.html">Contacts</a></li>
					<li><a href="views/gallery.html">Gallery</a></li>
					<li class="active"><a href="views/err404.html">Error 404</a></li>
				</ul>
			</li>
			<li class="has-child">
				<a href="views/blog.html">Blog</a>
				<i class="fa fa-angle-down"></i>
				<ul>
					<li><a href="views/blog.html">Blog: Standart</a></li>
					<li><a href="views/blog-full.html">Blog: Full Width</a></li>
					<li><a href="views/blog-left.html">Blog: Left Sidebar</a></li>
					<li><a href="views/post.html">Single Post: Standart</a></li>
					<li><a href="views/post-map.html">Single Post: With a Map</a></li>
					<li><a href="views/post-video.html">Single Post: Video</a></li>
					<li><a href="views/post-slider.html">Single Post: Slider</a></li>
					<li><a href="views/post-sidebar.html">Single Post: Sidebar</a></li>
				</ul>
			</li>
			<li>
				<a href="views/contacts.html">Contacts</a>
			</li>
			<li class="has-child">
				<a href="views/orders.html">Orders</a>
				<i class="fa fa-angle-down"></i>
				<ul>
					<li><a href="views/orders.html">Orders</a></li>
					<li><a href="views/message.html">Messages</a></li>
					<li><a href="views/cart.html">Shopping Cart</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<!-- Navmenu - end -->

</div>
<!-- Header - end -->

<!-- Main Content - start -->
<main>

<!-- Breadcrumbs -->
<div class="b-crumbs-wrap">
	<div class="cont b-crumbs">
		<ul>
			<li>
				<a href="views/index.html">Motor</a>
			</li>
			<li>
				<span>Page Not Found</span>
			</li>
		</ul>
	</div>
</div>

<div class="cont maincont">

	<h1><span>Error</span></h1>
	<span class="maincont-line1 maincont-line12"></span>
	<span class="maincont-line2 maincont-line22"></span>

	<!-- Error 404 -->
	<div class="pagecont err404">
		<img src="views/img/err404.png" alt="" class="err404-img">
		<p>We are so sorry, but the page you requested is not available</p>
		<form action="#">
			<input type="text" placeholder="Search..">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>
	
</div>

</main>
<!-- Main Content - end -->


<!-- Footer - start -->
<footer class="footer">
	<div class="cont footer-top">

		<!-- Footer Menu -->
		<div class="footer-menu">
			<p>Company</p>
			<ul>
				<li><a href="views/#">Shipping</a></li>
				<li><a href="views/#">Careers</a></li>
				<li><a href="views/#">About us</a></li>
			</ul>
		</div>
		<div class="footer-menu">
			<p>Information</p>
			<ul>
				<li><a href="views/#">Affiliate Program</a></li>
				<li><a href="views/#">Privacy Policy</a></li>
				<li><a href="views/#">Site Map</a></li>
				<li><a href="views/#">Search Terms</a></li>
			</ul>
		</div>
		<div class="footer-menu">
			<p>Account & Orders</p>
			<ul>
				<li><a href="views/#">My Account</a></li>
				<li><a href="views/#">My Garage</a></li>
				<li><a href="views/#">Shopping Cart</a></li>
				<li><a href="views/#">Order Status</a></li>
			</ul>
		</div>

		<div class="footer-info">
			<p class="footer-msg">Our online support is available <a class="callback" href="views/#">Send us a message</a></p>
			<ul class="footer-social">
				<li>
					<a rel="nofollow" target="_blank" href="views/http://facebook.com">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a rel="nofollow" target="_blank" href="views/mailto:email@email.com">
						<i class="fa fa-paper-plane"></i>
					</a>
				</li>
				<li>
					<a rel="nofollow" target="_blank" href="views/http://pinterest.com">
						<i class="fa fa-pinterest-p"></i>
					</a>
				</li>
				<li>
					<a rel="nofollow" target="_blank" href="views/http://youtube.com">
						<i class="fa fa-youtube-play"></i>
					</a>
				</li>
				<li>
					<a rel="nofollow" target="_blank" href="views/http://twitter.com">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a rel="nofollow" target="_blank" href="views/http://google.com">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
				<li>
					<a rel="nofollow" target="_blank" href="views/http://twitter.com">
						<i class="fa fa-share-alt"></i>
					</a>
				</li>
			</ul>
			<form action="#" class="form-validate">
				<input data-required="text" data-required-email="email" type="text" placeholder="Email address" name="email1">
				<input type="submit" value="Subscribe">
			</form>
		</div>

	</div>
	<div class="copyright">
		<p class="cont">© 2016 Stockware All Right Received</p>
	</div>
</footer>
<!-- Footer - end -->


<!-- Modal Form -->
<div id="modal-form" class="modal-form">
	<p class="modal-form-ttl">Contact Us</p>
	<form action="#" class="form-validate">
		<input data-required="text" type="text" placeholder="Name" name="name2">
		<input data-required="text" type="text" placeholder="Phone" name="phone2">
		<input data-required="text" data-required-email="email" type="text" placeholder="Email" name="email2">
		<textarea placeholder="Your message" name="mess2"></textarea>
		<input type="submit" value="Send">
	</form>
</div>

<script src="views/js/jquery-1.12.3.min.js"></script>
<script src="views/js/fancybox/fancybox.js"></script>
<script src="views/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script src="views/js/jquery.flexslider-min.js"></script>
<script src="views/js/masonry.pkgd.min.js"></script>
<script src="views/js/main.js"></script>

</body>
</html>